<html xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot Web Upload and Resize Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Choose an image file to upload and resize.</h1>
    <p class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></p>
    <p class="text-success" th:if="${successMessage}" th:text="${successMessage}"></p>

    <form method="POST" enctype="multipart/form-data" action="/uploadImage">
        <div class="form-group">
            <label for="image">File to upload</label>
            <input type="file" class="form-control-file" id="image" name="image" >
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>


    <form method="POST" enctype="multipart/form-data" action="/modifyAndSave">

        <div class="form-group">
            <label for="flip">Flip</label>
            <input type="text" class="form-control-file" id="flip" name="flip" placeholder="1 for horizontal and 2 for vertical" >
        </div>
        <div class="form-group">
            <label for="flip">Rotate Degrees</label>
            <input type="text" class="form-control-file" id="rotateDegrees" name="rotateDegrees" placeholder="1 for horizontal and 2 for vertical" >
        </div>
        <div class="form-group">
            <label for="flip">Greyscale</label>
            <input type="text" class="form-control-file" id="greyscale" name="greyscale" placeholder="1 for horizontal and 2 for vertical" >
        </div>
        <div class="form-group">
            <label for="flip">Resize Percent</label>
            <input type="text" class="form-control-file" id="resizePercent" name="resizePercent" placeholder="1 for horizontal and 2 for vertical" >
        </div>
        <div class="form-group">
            <label for="flip">Generate Thumbnail</label>
            <input type="text" class="form-control-file" id="generateThumbnail" name="generateThumbnail" placeholder="1 for horizontal and 2 for vertical" >
        </div>
        <div class="form-group">
            <label for="flip">Rotate 90</label>
            <input type="text" class="form-control-file" id="rotate90" name="rotate90" placeholder="1 for horizontal and 2 for vertical" >
        </div>
        <button type="submit" class="btn btn-primary">Send Actions</button>
    </form>

    <form method="POST" enctype="multipart/form-data" action="/saveImage">
        <button type="submit" class="btn btn-primary">Save Image</button>
    </form>



</div>
</body>
</html>